/* Customize container */


/*

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
*/

@media (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

a {
    cursor: pointer;
    color: #ff301a;
}

a:hover {
/*    font-weight: bold;*/
    text-decoration: none;
    color: #ff301a;
}

.container-header {
    background-color: #000;
    margin-bottom: 0;
    padding: 15px;
}

.header {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
/*    border-bottom: 1px solid #ff301a;*/
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.nav-logo {
    height: 55px;
}

.modal-content a {
    color: #ff301a;
}

.daring_escapes_banner {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #ff301a;
    border-bottom: 1px solid #ff301a;
}

.jumbotron-first {
    margin-top: 20px;
}

.brand-text {
    color: #ff301a;
}

.team-building-activity {
    font-weight: bold;
    margin-bottom: 20px;
}

.city img {
    margin: 0 auto;
}

a img:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.img-team {
    margin: 0 auto 15px auto;
}